{{ if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{ else if ne .chezmoi.os "windows" }}
[credential "https://github.com"]
	helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/env gh auth git-credential
{{ end }}
