using namespace System.Management.Automation
using namespace System.Management.Automation.Language

{{ if eq .chezmoi.os "windows" }}
$env:PATH = "$env:UserProfile\.scripts\windows" + [IO.Path]::PathSeparator + $env:PATH
{{ else }}
Invoke-Expression "$HOME/.scripts/posix/icon"
{{ end }}

New-Alias which get-command

# Completion from files
Get-ChildItem "$HOME/.scripts/.completion/powershell/" -Filter *.ps1 | 
Foreach-Object {
  $content = Get-Content $_.FullName | Out-String
  Invoke-Expression $content
}

Import-Module PSReadLine

# Search history properly
Set-PSReadLineOption -HistorySearchCursorMovesToEnd
Set-PSReadLineKeyHandler -Key UpArrow -Function HistorySearchBackward
Set-PSReadLineKeyHandler -Key DownArrow -Function HistorySearchForward
