{{- $cascadiaCodeVersion := "2407.24" -}}
[".oh-my-zsh"]
  type = "archive"
  url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
[".oh-my-zsh/custom/plugins/zsh-better-npm-completion"]
  type = "archive"
  url = "https://github.com/lukechilds/zsh-better-npm-completion/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
[".oh-my-zsh/custom/plugins/zsh-completions"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
[".oh-my-zsh/custom/plugins/zsh-vs-code-integration"]
  type = "archive"
  url = "https://github.com/Logicer16/zsh-vs-code-integration/archive/main.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
[".oh-my-zsh/custom/plugins/zsh-nvm"]
  type = "archive"
  url = "https://github.com/Logicer16/zsh-nvm/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
[".oh-my-zsh/custom/themes/powerlevel10k"]
  type = "archive"
  url = "https://github.com/romkatv/powerlevel10k/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
{{- if or (eq .chezmoi.os "darwin") (ne .chezmoi.os "windows") }}
{{- if eq .chezmoi.os "darwin" }}
["Library/Fonts/Cascadia Code (chezmoi)"]
{{- else if ne .chezmoi.os "windows" }}
[".local/share/fonts/Cascadia Code (chezmoi)"]
{{- end }}
  type = "archive"
  url = "https://github.com/microsoft/cascadia-code/releases/download/v{{ $cascadiaCodeVersion }}/CascadiaCode-{{ $cascadiaCodeVersion }}.zip"
  refreshPeriod = "24h"
  include = ["**/ttf/CascadiaCodeNF*.ttf"]
  stripComponents = 1
{{- end }}
