[".oh-my-zsh"]
  type = "archive"
  url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
[".oh-my-zsh/custom/plugins/zsh-better-npm-completion"]
  type = "archive"
  url = "https://github.com/lukechilds/zsh-better-npm-completion/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
[".oh-my-zsh/custom/plugins/zsh-completions"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
[".oh-my-zsh/custom/plugins/zsh-vs-code-integration"]
  type = "archive"
  url = "https://github.com/Logicer16/zsh-vs-code-integration/archive/main.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
[".oh-my-zsh/custom/themes/powerlevel10k"]
  type = "archive"
  url = "https://github.com/romkatv/powerlevel10k/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "24h"
{{- if or (eq .chezmoi.os "darwin") (ne .chezmoi.os "windows") }}
{{- if eq .chezmoi.os "darwin" }}
["Library/Fonts/CaskaydiaCove"]
{{- else if ne .chezmoi.os "windows" }}
[".local/share/fonts/CaskaydiaCove"]
{{- end }}
  type = "archive"
  url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/CascadiaCode.tar.xz"
  refreshPeriod = "24h"
  include = ["**/*.ttf"]
{{- end }}
