Host *
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
{{ end }}

Host ubuntuvm
  HostName ubuntuVM.local
  User jamesross

Host pi
  Hostname pi.local
  User jamesross

host google-server
  HostName google-server.logicer.cc
  User jamesross

host oracle-server-arm
  HostName oracle-arm.logicer.cc
  User jamesross

host oracle-server-arm-minecraft
  HostName oracle-arm.logicer.cc
  User minecraft

host oracle-server-x64-1
  HostName oracle-x64-1.logicer.cc
  User ubuntu

host oracle-server-x64-2
  HostName oracle-x64-2.logicer.cc
  User ubuntu

host manjaroUSB
  HostName manjaroUSB.local
  User jamesross

host gentooUSB
  HostName gentooUSB.local
  User jamesross
