#! /usr/bin/env zsh

# Test for flags
for arg in "$@"; do
  case $arg in
    --no-restart)
      local no_restart=true
      shift
      ;;
  esac
done

# Check for Apple Watch sudo
{{ if eq .chezmoi.os "darwin" }}
  if ! cat /etc/pam.d/sudo | grep "auth sufficient pam_watchid.so" &> /dev/null; then
    echo "Someone removed pam-watchid. Reinstalling..."
    bash -c "$(curl -fsSL https://raw.githubusercontent.com/logicer16/pam-watchid/HEAD/install.sh)" -- enable
  fi
{{ end }}

# Manage root user
if (( $+commands[doas] )); then
  rootcmd=doas
elif (( $+commands[sudo] )); then
  sudo -v
  while true; do sudo -n true; sleep 60; kill -0 "$$" || exit; done &> /dev/null &
  rootcmd=sudo
elif [ "$EUID" -ne 0 ]; then
  echo "I'm not sure how you expect to run this script without sudo"
fi
usercmd="$rootcmd -u $(logname)"

# Run in home folder
( cd ~

# Brew
if (( $+commands[brew] )); then
  # brew cannot run as root
  eval $usercmd brew update
  eval $usercmd brew upgrade --greedy
  eval $usercmd brew autoremove
  eval $usercmd brew cleanup

  # Relinking if required

{{ if eq .chezmoi.os "darwin" }}
  # openjdk
  if (brew list -1 | grep openjdk); then
    for jdk in $(ls /usr/local/opt/ | grep openjdk); do
      eval $rootcmd ln -sfn /usr/local/opt/$jdk/libexec/openjdk.jdk /Library/Java/JavaVirtualMachines/$jdk.jdk
    done
  fi
{{ end }}
fi

{{ if eq .chezmoi.os "darwin" }}
# mac App Store
mas upgrade

# mac software update
softwareupdate --install -a --agree-to-license
{{ end }}

# apt (debian)
if (( $+commands[apt-get] )); then
  eval $rootcmd apt-get -y update
  eval $rootcmd apt-get -y dist-upgrade
  eval $rootcmd apt-get -y check
  eval $rootcmd apt-get -y autoremove
  eval $rootcmd apt-get -y autoclean
fi

# Not sure if this works
# # ubuntu 
# if (( $+commands[do-release-upgrade] )); then
#   do-release-upgrade
# fi

# snaps (piece of shit)
if (( $+commands[snap] )); then
  eval $rootcmd snap refresh
fi

# flatpaks (the other piece of shit)
if (( $+commands[flatpak] )); then
  eval $rootcmd flatpak update -y
fi

# dnf/yum (i.e. redhat-based package managers)
if (( $+commands[dnf] )); then
  eval $rootcmd dnf -y upgrade
  eval $rootcmd dnf -y check
  eval $rootcmd dnf -y autoremove
elif (( $+commands[yum] )); then
  eval $rootcmd yum -y upgrade
  eval $rootcmd yum -y check
  eval $rootcmd yum -y autoremove
fi

# pacman (default via yay)
if (( $+commands[yay] )); then
  # user must have write permision to current directory for aur to work 
  # ... which is the home directory so it's a bit sus if they don't
  yay -Syu
  # remove orphaned packages
  yay -Qtdp | yay -Rns - &> /dev/null || :
elif (( $+commands[pacman] )); then
  eval $rootcmd pacman -Syu
  # remove orphaned packages
  eval $rootcmd pacman -Qtdp | eval $rootcmd pacman -Rns - &> /dev/null || :
fi

# python
if (( $+commands[python] )); then
  # pip
  python -c "import pip" &> /dev/null
  if [ $? -eq 0 ]; then
    eval $usercmd python -m pip list --outdated --not-required | cut -f1 -d' ' | tr " " "\n" | awk '{if(NR>=3)print}' | cut -d' ' -f1 | xargs -n1 eval $usercmd python -m pip install -U
    eval $usercmd python -m pip check
  fi
fi

# nvm
if (( $+commands[nvm] )); then
  nvm install node --reinstall-packages-from=node # Upgrade node version
  nvm install "*/lts" # Upgrade lts node version
fi

# npm
if (( $+commands[npm] )); then
  eval $usercmd npm update
  npm update --location=global
fi

# git repos
for GIT_UPDATE_FOLDER in $GIT_UPDATE_FOLDERS; do
  git -C $GIT_UPDATE_FOLDER pull --no-rebase -q
done

# gem
if (( $+commands[gem] )); then
{{ if eq .chezmoi.os "darwin" }}
  if (( $+commands[brew] )); then
    eval $rootcmd -H gem update -n /usr/local/bin openssl -- --with-openssl-dir="$(brew --prefix openssl@1.1)" # https://github.com/ruby/openssl/issues/385
  fi
{{ end }}
  gem update
  gem cleanup
  # also do root
  if [ "$EUID" -ne 0 ]; then
    eval $rootcmd gem update
    eval $rootcmd gem cleanup
  fi
fi

# chezmoi
if (( $+commands[chezmoi] )); then
  chezmoi update
fi

)
# End Run in home folder

if [ -f /var/run/reboot-required ]; then
  if $no_restart; then
    echo "A Reboot is Required"
  else
    eval $rootcmd reboot
  fi
fi

return $?
